<div class="index-page">
  <h1>Not sure what should go here yet</h1>
  <div>
    <p>.</p> 
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
  </div>
  <h4><%=  link_to "Click here to upload a new form!", "/forms/new" %></h4>
</div>