#upload-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #form-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;

      input {
        font-family: inherit;
        margin: 0 auto;
        margin-top: 25px;

        &#content {
          padding-left: 75px;
        }

        &.upload-button {
          width: 125px;
          height: 40px;
          background: #fff;
          border: none;
          border-radius: 3px;
          font-size: 15px;

          &:hover {
            background-color: #e9ebee;
          }
        }
      }
    }
  }
}